<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652838702810-9uovech238lcpqs9mq2le6cr6m2opscd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652838702810-9uovech238lcpqs9mq2le6cr6m2opscd</string>
	<key>API_KEY</key>
	<string>AIzaSyBaWyB5Yx3ITuqm29M3agDyP_zimruNUxo</string>
	<key>GCM_SENDER_ID</key>
	<string>652838702810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuios.vestio</string>
	<key>PROJECT_ID</key>
	<string>vestio-4d398</string>
	<key>STORAGE_BUCKET</key>
	<string>vestio-4d398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:652838702810:ios:b7cfda51883b0099951fe3</string>
</dict>
</plist>
